<main class="questions-list">
    <div class="question">
        <div>
            <span class="vote -up"></span>
            <span class="vote -down"></span>
        </div>
        <div>
           <p>Não obstante, a hegemonia do ambiente político exige a precisão e a definição das diversas correntes de pensamento?</p> 
        </div>
    </div>
    <div class="question">
            <div>
                <span class="vote -up"></span>
                <span class="vote -down"></span>
            </div>
            <div>
               <p>Não obstante, a hegemonia do ambiente político exige a precisão e a definição das diversas correntes de pensamento?</p> 
            </div>
        </div>
</main>