<main class="questions-list">
    <div class="question">
        <div class="score">
            <i class="arrow -up"></i>
            <span class="quantity">20</span>
            <i class="arrow -down"></i>
        </div>
        <p class="issue">Não obstante, a hegemonia do ambiente político exige a precisão e a definição das diversas
            correntes de pensamento?</p>
    </div>
    <div class="question">
        <div class="score">
            <i class="arrow -up"></i>
            <span class="quantity">20</span>
            <i class="arrow -down"></i>
        </div>
        <p class="issue">Não obstante, a hegemonia do ambiente político exige a precisão e a definição das diversas
            correntes de pensamento?</p>
    </div>
</main>